---
title: Page not found
published: true
meta_keywords: "red"
---
{% extends 'layouts/default' %}
{% block content %}
<div class='w3-container'>
  <div class="w3-panel w3-yellow">
    <h3>Page not found</h3>
    <p>Not a problem though! Use the menu to navigate back to the home page.</p>
  </div>
</div>
{% endblock %}
