---
title: Home page
published: true
handle: home
meta_keywords: ""
sections_dropzone_content:
- type: header
  settings:
    header_title: BUILT WITH W3.CSS
    header_subtitle: BEAUTIFUL RESPONSIVE WEB SITES
    modal_button: true
    modal_button_text: LEARN W3.CSS
    modal_header: <h4>Oh snap! We just showed you a modal..</h4><h5><br>Because we
      can <i class="fa fa-smile-o"></i></h5>
    modal_content: <p>Cool huh? Ok, enough teasing around..</p><p>Go to our<a class="w3-btn"
      href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3.CSS Tutorial</a>to learn more!</p>
    modal_footer: "<p>Modal footer</p>"
  blocks: []
- type: iconcards
  settings:
    top_sep: false
    bot_sep: false
    more_shadow: false
    rounded_corners: true
    rounded_corners_size: w3-round
  blocks:
  - type: icon_card
    settings:
      title: Responsive
      icon: desktop
      text: "<p>Built-in responsiveness</p><p>Mobile first fluid grid</p><p>Fits any
        screen sizes</p><p>PC Tablet and Mobile</p>"
      color: white
  - type: icon_card
    settings:
      title: Standard CSS
      icon: css3
      text: "<p>Standard CSS only</p><p>Easy to learn</p><p>No need for jQuery</p><p>No
        JavaScript library</p>"
      color: white
  - type: icon_card
    settings:
      title: Design
      icon: diamond
      text: "<p>Paper like design</p><p>Bold colors and shadows</p><p>Equal across
        platforms</p><p>Equal across devices</p>"
      color: white
- type: columns
  settings:
    top_sep: true
    bot_sep: false
    title: Color Classes
    subtitle: Preview the colors <a href="https://www.w3schools.com/w3css/w3css_colors.asp"
      target="_blank">here</a>
  blocks:
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">Red</p>"
      color: red
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">blue</p>"
      color: blue
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">Blue Grey</p>"
      color: blue-grey
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">Teal</p>"
      color: teal
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">Yellow</p>"
      color: yellow
  - type: column
    settings:
      text: "<p style=\"text-align:center;\">Orange</p>"
      color: orange
- type: columns
  settings:
    top_sep: true
    bot_sep: false
    title: Built-In Responsiveness
    subtitle: Resize the page to see the effect!
  blocks:
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Column title</h5><p>The columns will adapt to the width of the page
        and will all have the same height.</p><p>On small screens (max 600 pixels)
        they automatically resize to full screen width.</p>"
      color: blue
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Column title</h5>"
      color: white
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Column title</h5>"
      color: red
- type: columns
  settings:
    top_sep: true
    bot_sep: false
    title: ''
    subtitle: 'Five columns, right?'
  blocks:
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Purple</h5><p>The columns will adapt to the width of the page
        and will all have the same height.</p><p>On small screens (max 600 pixels)
        they automatically resize to full screen width.</p>"
      color: purple
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Pink</h5>"
      color: pink
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Amber</h5>"
      color: amber
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Deep Orange</h5>"
      color: deep-orange
  - type: column
    settings:
      text: "<h5 style=\"text-align:center;\">Light Green</h5><p>The color of the font will automatically switch depending on the background color.</p>"
      color: light-green
- type: container
  settings:
    top_sep: true
    bot_sep: false
    title: Containers
    subtitle: Use containers to create headers, sections and footers.
    header: Header
    content: "<h2>London</h2><p>London is the capital city of England. It is the most
      populous city in the United Kingdom, with a metropolitan area of over 13 million
      inhabitants.</p><p>Standing on the River Thames, London has been a major settlement
      for two millennia, its history going back to its founding by the Romans, who
      named it Londinium.</p><p>By the way, you can add a close icon to all containers
      if you want the ability to hide them. Look to your right!</p>"
    footer_title: Footer
    footer_text: Footer information goes here
  blocks: []
- type: cards
  settings:
    top_sep: true
    bot_sep: false
    more_shadow: true
    title: Paper-like Cards with Shadows
    subtitle: (Resize you images so they have the same height in the media section of the backend)
  blocks:
  - type: card
    settings:
      image: "/samples/forest.jpg"
      legend: Forest
  - type: card
    settings:
      image: "/samples/lights.jpg"
      legend: Lights
  - type: card
    settings:
      image: "/samples/mountains.jpg"
      legend: Mountains
- type: tables
  settings:
    top_sep: true
    bot_sep: false
    more_shadow: false
    title: Tables
    subtitle: Don't worry. W3.CSS takes care of your tables.
    name: Test
  blocks: []
- type: forms
  settings:
    top_sep: true
    bot_sep: false
    more_shadow: false
    title: Input Forms
    subtitle: (Fill in contact settings in the backend)
    form_title: Form title
  blocks: []
- type: lists
  settings:
    top_sep: true
    bot_sep: false
    more_shadow: false
    title: Lists
    subtitle: Yeah, why not?
    list_title: List
  blocks:
  - type: list_item
    settings:
      list_item: Adam
  - type: list_item
    settings:
      list_item: Eve
  - type: list_item
    settings:
      list_item: Steve
- type: slideshows
  settings:
    top_sep: true
    bot_sep: false
    title: Slideshows
    width: "800"
  blocks:
  - type: image
    settings:
      image: "/samples/fjords.jpg"
  - type: image
    settings:
      image: "/samples/lights.jpg"
  - type: image
    settings:
      image: "/samples/mountains.jpg"
  - type: image
    settings:
      image: "/samples/forest.jpg"
- type: accordions
  settings:
    top_sep: true
    bot_sep: false
    title: Accordions
  blocks:
  - type: acc_item
    settings:
      acc_title: Section 1
      acc_content: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
  - type: acc_item
    settings:
      acc_title: Section 2
      acc_content: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
  - type: acc_item
    settings:
      acc_title: Section 3
      acc_content: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
- type: tabs
  settings:
    top_sep: true
    bot_sep: false
    title: Tabs
  blocks:
  - type: tab_item
    settings:
      tab_title: London
      tab_content: "<p>London is the capital city of England.</p><p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>"
  - type: tab_item
    settings:
      tab_title: Paris
      tab_content: "<p>Paris is the capital of France.</p><p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>"
  - type: tab_item
    settings:
      tab_title: Tokyo
      tab_content: "<p>Tokyo is the capital of Japan.</p><p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>"
---
{% extends 'layouts/default' %}
